/**{margin:0;padding:0;} */
/*
html, body {
	height:100%;
	width:100%;
}*/

body, #bg{
  background: #000 none 0 50% / cover no-repeat;
}

#bg {
  position:absolute;
  overflow:auto; 
  top:51px;
  bottom:51px;
  left:0;
  right:0;
  width:100%;
  height:100%;
}

body .main-logo {
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-left: 0px;
}

body .region-thumbnail {
	height: 450px;
}

body .place-thumbnail {
	padding: 8px;
}

body .place-thumbnail-pic {
	max-width: 350px;
}

body .jumbotron {
	background-color: rgba(238, 238, 238, 0.6);
}

body .panel-transparent {
	background-color: rgba(255, 255, 255, 0.3);
}

body .panel-opaque {
	background-color: rgba(255, 255, 255, 1);
}
body .panel-heading {
	background-color: rgba(255, 255, 255, 0.5);
}

body .jumbotron-close {
	padding-top: 0px;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

body .yellow-star {
	color: yellow;
}

body .profile-pic {
	width: 40px;
	height: 40px;
}

body .profile-pic-md {
	width: 80px;
	height: 80px;
}

body .align-bottom {
    vertical-align: bottom;
}

body .region-thumbnail-pic {
	max-height: 240px;
}

body .col-bottom {
  position: absolute;
  bottom: 20px;
  right: 5px;
}

body .modal-login-dialog {
	width: 500px;
}

body .modal-fullsize-pic {
	width: 80%;

}


/*body .star-rating-area {
	background-color: rgb(247, 247, 249);
}*/

/*.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}*/