{% extends "main.html" %}
{% block content %}

<div>&nbsp;</div>
<div class="text-center">
  <div class="panel">
    <div class="panel-body">
    <h3>Are you sure you want to delete the log entry "{{item.name}}"?</h3>
    <br>
	<form action="{{ url_for('deletePlace',region_id = region_id, place_id = place_id)}}" method = 'post'>
	    <button type="submit" class="btn btn-danger" id="submit" type="submit"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Yes, delete it</button>
	    &nbsp;&nbsp;
	    <a href="{{url_for('showRegion', region_id = region_id)}}" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;No, keep it</a>
	</form>
    <br><br><br>
    </div>
  </div>
</div>


{% endblock %}
