{% extends "login.html" %}
{% block content %}
<div>&nbsp;</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  	<div class="row">
		<div class = 'alert alert-success alert-dismissible' role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	      </ul>
		</div>
  	</div>
  {% endif %}
{% endwith %}

<div class="thumbnail place-thumbnail">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>{{region.name}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			{% if region.picture != '' %}
				<img class="img-responsive" src="{{ url_for('static', filename='thumbnails/'+region.large_picture()) }}" alt="{{region.name}}">
			{% else %}
				<img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=19&txt=Unavailable&w=1000&h=500&txttrack=0" alt="{{region.name}}">
			{% endif %} 
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="text-left">
				<br>
				<strong>User Rating: </strong>
				{% for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %}
					{% if region.rating < i %}
						<img src="{{ url_for('static', filename='images/star_empty.png') }}" alt="Empty Star">
					{% else %}
						<img src="{{ url_for('static', filename='images/star.png') }}" alt="Star">
					{% endif %}
				{% endfor %}

				<br><br>
				{% if region.geo_location != '' %}
			  	<a href="{{region.geo_location}}" class="pull-left" target="_blank"><img class="pull-left" src="{{ url_for('static', filename='images/geotag_icon.png') }}" alt="Google Maps"> Find on a map</a>
				{% endif %} 

			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="text-left">
				<br>
				<strong>Created by :</strong> 
				<div class="media">
					<div class="media-left">
				    	<img class="media-object profile-pic-md" src="{{ region.user.picture}}" alt="Creator Profile Pic">
					</div>
					<div class="media-body">
						<h3> {{ region.user.name}} </h3>
					    <i>Last updated : {{ region.modifiy_date.strftime('%c') }}</i>
					</div>
				</div>
			</div>

			<br>
			{% if 'username' in session and session['email'] == creator.email %}
			<div class="text-left">
				<a href="{{url_for('newPlace', region_id = region.id )}}">
					<button class="btn btn-primary btn-md" id="new-place">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Log Entry
					</button>
				</a>
				&nbsp;&nbsp;
				<a href="{{url_for('editRegion', region_id = region.id )}}">
					<button class="btn btn-default btn-sm" id="edit-region">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit Travel Log
					</button>
				</a>
				&nbsp;&nbsp;
				<a href="{{url_for('deleteRegion', region_id = region.id )}}">
					<button class="btn btn-danger btn-sm" id="delete-region">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Delete Travel Log
					</button>
				</a>
			</div>
			{% endif %} 

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="text-left">
				<br>
				<h3>Places to see / Things to do : </h3>
				<br>
			</div>
		</div>
	</div>

	{% if items !=[] %}	
		{% for i in items|sort(attribute='rating', reverse=true) %}
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-3">
					{% if i.picture != '' %}
				      <a href="#" data-toggle="modal" data-target="#full-img-popup-modal"><img id="place-img-thumbnail" class="img-responsive" src="{{ url_for('static', filename='thumbnails/'+i.large_picture()) }}" alt="Picture for '{{ i.name }}'"></a>
					{% else %}
						<img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=19&txt=Unavailable&w=260&h=170&txttrack=0" alt="{{region.name}}">
					{% endif %}

				    </div>
					<div class="col-sm-12 col-md-8 col-lg-9">
						<div class="text-left">
						    <h4 class="media-heading">{{ i.name }}</h4>
						    <p>{{ i.description }}</p>
							<strong>Rating: </strong>
							{% for j in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %}
								{% if i.rating < j %}
									<img src="{{ url_for('static', filename='images/star_empty.png') }}" alt="Empty Star">
								{% else %}
									<img src="{{ url_for('static', filename='images/star.png') }}" alt="Star">
								{% endif %}
							{% endfor %}
							<br><br>
							<div class="text-center">
								{% if i.geo_location != '' %}
								  	<a href="{{i.geo_location}}" class="dull-left" target="_blank"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Find on a map</a>
								  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							    {% endif %}
								{% if i.info_website != '' %}
								  	<a href="{{i.info_website}}" class="pdull-left" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;Get more information here</a>
							    {% endif %}
							</div>

							{% if 'username' in session and session['email'] == creator.email %} 
								<br>
								<div class="text-right">
									<a href="{{url_for('editPlace', region_id = region.id, place_id=i.id )}}">
										<button class="btn btn-default btn-xs" id="edit-place">
											<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit
										</button>
									</a>
									&nbsp;
									<a href="{{url_for('deletePlace', region_id = region.id, place_id=i.id )}}">
										<button class="btn btn-danger btn-xs" id="delete-place">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Delete
										</button>
									</a>
								</div>
						    {% endif %}

						</div>		
					</div>
				</div>

				{% if not loop.last %}
				<div class="row">
					<div class="col-md-12">
						<hr>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<br>
		{% endfor %}
	{% else %}
	<div class="row">
		<div class="col-md-12">
			No entries
			</div>
		</div>

	{% endif %}
</div>

<div id="full-img-popup-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullsize-pic">
    <div class="modal-content">
        <div class="modal-body text-center">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
            <img src="#" class="img-responsive center-block" id="full-popup-img">
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
	function centerModal() {
	    $(this).css('display', 'block');
	    var $dialog = $(this).find(".modal-dialog");
	    var offset = ($(window).height() - $dialog.height()) / 2;
	    // Center modal vertically in window
	    $dialog.css("margin-top", offset);
	}

	$('.modal').on('show.bs.modal', centerModal);
	$(window).on("resize", function () {
	    $('.modal:visible').each(centerModal);
	});	

	$('a #place-img-thumbnail').click(function (e) {
    	$('#full-img-popup-modal img').attr('src', $(this).attr('src'));
	});
</script>
{% endblock %}